@model Librarian.Models.Rental

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}
@section ModelList
{
    <div class="panel">
        <div class="panel-division">
            <div class="panel-division dim">
                <form>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>Rental Date</span>
                        </div>
                        <input type="text" name="RentalDate" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>Return Date</span>
                        </div>
                        <input type="text" name="ReturnDate" />
                    </div>
                </form>

                <hr />
                <div>
                    <button type="reset">Back to List</button>
                </div>
            </div>
        </div>
    </div>
}
