@model Librarian.Models.Rental

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Content
{
<div class="panel">
    <div class="panel-division">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="flex fd-c">
                <label asp-for="BookId">Book</label>
                <select asp-for="BookId" asp-items="ViewBag.BookId"></select>
            </div>
            <div class="flex fd-c">
                <label asp-for="UserId">User</label>
                <select asp-for="UserId" asp-items="ViewBag.UserId"></select>
            </div>
            <input type="submit" value="Create" />
        </form>
    </div>
    <div class="panel-division dim">
        <a asp-action="Index">Back to List</a>
    </div>
</div>
}