@model Librarian.Models.Rental

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

@section ModelList
{

<div class="panel-division">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalDate)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
    </dl>
</div>
<div class="flex">
    <button class="ml-4" type="button">Edit</button>
    <button class="ml-4" type="reset">Back to List</button>
</div>
}