@model Librarian.Models.Rental

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

@section ModelList
{

<form>
    <div class="input-group">
        <div class="input-group-prefix">
            <span>Input label</span>
        </div>
        <input type="text" name="RentalName"/>
    </div> 
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
}