@model IEnumerable<Librarian.Models.Rental>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Rentals";
}

@section ModelList
{
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RentalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RentalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td class="flex">
            <button class="ml-a" type="button">Edit</button>
            <button class="ml-4" type="button">Details</button>
            <button class="ml-4" type="reset">Delete</button>
        </td>
    </tr>
    }
</table>
}

