@model Librarian.Models.Book

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

@section ModelList
    {
    <div class="panel">
        <div class="panel-division">
            <div class="panel-division dim">
                <form>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>ISBN</span>
                        </div>
                        <input type="text" name="ISBN" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>Title</span>
                        </div>
                        <input type="text" name="Title" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>Author ID</span>
                        </div>
                        <input type="text" name="AuthorID" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>Publisher ID</span>
                        </div>
                        <input type="text" name="PublisherID" />
                    </div>
                </form>

                <hr />
                <div>
                    <button type="reset">Back to List</button>
                </div>
            </div>
        </div>
    </div>
}