<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Librarian</title>
    <link rel="stylesheet" href="~/css/epii.min.css" />
</head>
<body>
    @await Html.PartialAsync("_Nav.cshtml")
    <div id="wrapper" class="flex">
        @await Html.PartialAsync("_Menu.cshtml")
        <div id="content" class="flex fd-c fg-1">
            <h2>@ViewData["Title"]</h2>
            @RenderSection("ModelList")
        </div>
    </div>
</body>
</html>

<style>
    table
    {
        display: flex;
        flex-wrap: wrap;
    }

    tbody
    {
        width: 100%;
    }

    td
    {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 16px;
    }

    th 
    {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 16px;
    }

    tr
    {
        display: flex;
        align-content: space-between;
    }
</style>