<div id="menu">
    <span class="menu-button"><i class="fas fa-book"></i><a href="/books">Books</a></span>
    <span class="menu-button"><i class="fas fa-users"></i><a href="/users">Users</a></span>
    <span class="menu-button"><i class="far fa-file-alt"></i><a href="/rentals">Rentals</a></span>
    <hr />
    <span class="menu-button"><i class="far fa-user"></i><a href="/authors">Authors</a></span>
    <span class="menu-button"><i class="far fa-building"></i><a href="/publishers">Publishers</a></span>
</div>