@model Librarian.Models.Author

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Content
{
    <div class="panel">
        <div class="panel-division">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="flex fd-c">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input type="submit" value="Create" />
            </form>
        </div>
        <div class="panel-division dim">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
}