@model Librarian.Models.User

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}
@section ModelList
    {
    <div class="panel">
        <div class="panel-division">
            <div class="panel-division dim">
                <form>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>First Name</span>
                        </div>
                        <input type="text" name="FirstName" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>Last Name</span>
                        </div>
                        <input type="text" name="LastName" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>Phone Number</span>
                        </div>
                        <input type="text" name="PhoneNumber" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>E-mail</span>
                        </div>
                        <input type="text" name="Email" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prefix">
                            <span>Address</span>
                        </div>
                        <input type="text" name="Address" />
                    </div>
                </form>

                <hr />
                <div>
                    <button type="reset">Back to List</button>
                </div>
            </div>
        </div>
    </div>
}
