@model Librarian.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Content
{
<div class="panel">
    <div class="panel-division">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="flex fd-c">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="flex fd-c">
                <label asp-for="LastName"></label>
                <input asp-for="LastName"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="flex fd-c">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="flex fd-c">
                <label asp-for="Email"></label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="flex fd-c">
                <label asp-for="Address"></label>
                <input asp-for="Address"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <input type="submit" value="Create"/>
        </form>
    </div>
    <div class="panel-division dim">
        <a asp-action="Index">Back to List</a>
    </div>
</div>
}


